<!DOCTYPE html>
<html>
<head>
    <title>Azure ML Test Client</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/site.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="grey darken-2" role="navigation">
        <div class="nav-wrapper container">
            <div id="logo-container" class="brand-logo">#clrhcafe6 - AzureML Test Client</div>
        </div>
    </nav>

    <div class="container section">
        @RenderBody()
    </div>

    <footer class="page-footer grey darken-2">
        <div class="row">
            <div class="col s12">
                <h5 class="grey-text text-lighten-1">Powered by</h5>
                <ul>
                    <li><a target="_blank" class="grey-text" href="http://www.asp.net/mvc">ASP.NET MVC</a></li>
                    <li><a target="_blank" class="grey-text" href="http://materializecss.com/">Materialize</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                The MIT License (MIT) | Source code on <a target="_blank" class="grey-text text-lighten-4" href="https://github.com/sample-by-jsakamoto/AzureMLTestClient">GitHub</a>
            </div>
        </div>
    </footer>

    <script src="~/bundles/js"></script>
</body>
</html>